<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск вакансий</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<h1>
    Поиск вакансий
</h1>
<form class="home" action="/list_of_vacancies/all" method="post">
    <div class="search">
        <input type="text" name="text">
        <input type="submit">
    </div>
    <div class="filters">
        <input type="text" name="area">
        <input type="number" name="salary">
    </div>
</form>
</body>
</html>