<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск вакансий</title>
    <link href="{{ url_for('static', path='/vacancies.css') }}" rel="stylesheet">
</head>
<body>
    {% if data["message"] != "OK" %}
        <div class="header">
            <h1>{{ data["message"] }}</h1>
            <form action="/home" method="get">
                <button type="submit" class="home">На главную</button>
            </form>
        </div>
    {% else %}
        <div class="header">
            <h1>Найденные вакансии</h1>
            <form action="/home" method="get">
                <button type="submit" class="home">На главную</button>
            </form>
        </div>
        <div class="main">
            <div class="base_of_vacs">
                <div class="list">
                    {% if c + 1 == count_of_pages %}
                        {% set data = data["items"][c*20:] %}
                    {% else %}
                        {% set data = data["items"][c*20:(c+1)*20] %}
                    {% endif %}
                    {% for vacancy in data %}
                        <div class="card">
                            <a class="name" href="{{ vacancy['url'] }}">{{ vacancy["name"] }}</a>
                            <hr>
                            <span class="salary">{{ vacancy["salary"] }}</span>
                            <hr>
                            <div class="exp_city">
                                <span class="experience"> Опыт: {{ vacancy["experience"] }}</span>
                                <span class="area">Город: {{ vacancy["area"] }}</span>
                            </div>
                            <hr>
                            <span class="req">Требования: <br> {{ vacancy["requirement"] }}</span>
                            <hr>
                            <span class="resp">Обязанности: <br> {{ vacancy["responsibility"] }}</span>
                            <hr>
                            <div class="emp_sched">
                                <span class="employment">Тип занятости: <br> {{ vacancy["employment"] }}</span>
                                <span class="schedule">График работы: <br> {{ vacancy["schedule"] }}</span>
                            </div>
                            <hr>
                            <span class="skills">Навыки: {{ vacancy["key_skills"] }}</span>
                            <hr>
                            <span class="employer">Организация: <br> {{ vacancy["employer"] }}</span>
                        </div>
                    {% endfor %}
                </div>
                <form  class="down" action="/list_of_vacancies/page" method="post">
                    <div class="navigation">
                        {% if c != 0 %}
                            <input type="submit" name="prev" class="left" value="<">
                        {% endif %}
                        {% if c != count_of_pages - 1 %}
                            <input type="submit" name="next" class="right" value=">">
                        {% endif %}
                    </div>

                </form>
            </div>
            <form action="/list_of_vacancies/filter" method="post" class="filters">

            </form>
        </div>
    {% endif %}
</body>
</html>