<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск вакансий</title>
    <link href="{{ url_for('static', path='/vacancies.css') }}" rel="stylesheet">
</head>
<body>
    {% if data["message"] != "OK" %}
        <div class="header">
            <h1>{{ data["message"] }}</h1>
            <form action="/home" method="get">
                <button type="submit" class="home">На главную</button>
            </form>
        </div>
    {% else %}
        <div class="header">
            <h1>Найденные вакансии</h1>
            <form action="/home" method="get">
                <button type="submit" class="home">На главную</button>
            </form>
        </div>
        <div class="main">
            <div class="base_of_vacs">
                <div class="list">
                    {% if c + 1 == count_of_pages %}
                        {% set data = data["items"][c*20:] %}
                    {% else %}
                        {% set data = data["items"][c*20:(c+1)*20] %}
                    {% endif %}
                    {% for vacancy in data %}
                        <div class="card">
                            <a class="name" href="{{ vacancy['url'] }}" target="_blanck">{{ vacancy["name"] }}</a>
                            <hr>
                            <span class="salary">{{ vacancy["salary"] }}</span>
                            <hr>
                            <div class="exp_city">
                                <span class="experience"> Опыт: {{ vacancy["experience"] }}</span>
                                <span class="area">Местоположение: {{ vacancy["area"] }}</span>
                            </div>
                            <hr>
                            <span class="req">Требования: <br> {{ vacancy["requirement"] }}</span>
                            <hr>
                            <span class="resp">Обязанности: <br> {{ vacancy["responsibility"] }}</span>
                            <hr>
                            <div class="emp_sched">
                                <span class="employment">Тип занятости: <br> {{ vacancy["employment"] }}</span>
                                <span class="schedule">График работы: <br> {{ vacancy["schedule"] }}</span>
                            </div>
                            <hr>
                            <span class="skills">Навыки: {{ vacancy["key_skills"] }}</span>
                            <hr>
                            <span class="employer">Организация: <br> {{ vacancy["employer"] }}</span>
                        </div>
                    {% endfor %}
                </div>
                <form  class="down" action="/list_of_vacancies/page" method="post">
                    <div class="navigation">
                        {% if c != 0 %}
                            <input type="submit" name="prev" class="left" value="<">
                        {% endif %}
                        {% if c != count_of_pages - 1 %}
                            <input type="submit" name="next" class="right" value=">">
                        {% endif %}
                    </div>

                </form>
            </div>
            <form action="/list_of_vacancies/filter" method="post" class="filters">
                <label class="f_name">Опыт работы:</label>
                <select name="f_exp">
                    <option value="doesnot matter">Не имеет значения</option>
                    <option value="No exp">Нет опыта</option>
                    <option value="from 1 to 3">От 1 года до 3 лет</option>
                    <option value="from 3 to 6">От 3 до 6 лет</option>
                    <option value="more 6">Более 6 лет</option>
                </select>
                <div class="f_empl">
                    <label class="f_name">Тип занятости:</label> <br>
                    <input type="checkbox" value="Full" name="empl_check">Полная занятость <br>
                    <input type="checkbox" value="Part" name="empl_check">Частичная занятость <br>
                    <input type="checkbox" value="Internship" name="empl_check">Стажировка <br>
                    <input type="checkbox" value="Project" name="empl_check">Проектная работа <br>
                    <input type="checkbox" value="Volunteering" name="empl_check">Волонтерство <br>
                </div>
                <div class="f_sch">
                    <label class="f_name">График работы:</label> <br>
                    <input type="checkbox" value="Full_day" name="sch_check">Полный день <br>
                    <input type="checkbox" value="Remote" name="sch_check">Удаленная работа <br>
                    <input type="checkbox" value="Flexible" name="sch_check">Гибкий график <br>
                    <input type="checkbox" value="Shift" name="sch_check">Сменный график <br>
                    <input type="checkbox" value="Vaht" name="sch_check">Вахтовый метод <br>
                </div>
                <input type="submit" class="apply_filt" value="Применить">
            </form>
        </div>
    {% endif %}
</body>
</html>